@charset "UTF-8";

/* ベース
--------------------------------------- */
html,
body,
div,
header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  letter-spacing: 2.2px;
}

html,
body {
  font-size: calc( ( 100 / 750 ) * 26 * 1vw);
  max-width: 767px;
}

body {
  color: #323232;
  background-color: #f9f9f1;
  font-family: 'Gelasio', 'Zen Maru Gothic', serif;
  line-height: 1.7;
}

ul>li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
}

.wrapper {
  display: block;

  max-width: 767px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: auto;
  box-sizing: border-box;
}

.inner {
  width: 100%;
  margin-inline: auto;
}

* {
  box-sizing: border-box;
}

/* ヘッダー
--------------------------------------- */
.header {
  display: block;
  width: 100%;
  height: calc( ( 100 / 750 ) * 167 * 1vw);
  z-index: 1000;
  padding-top: calc( ( 100 / 750 ) * 30 * 1vw);
  top: 0;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  line-height: 0;
}

.header_inner {
  display: block;
  width: 100%;
  height: auto;
}

.header_logo a {
  display: block;
  position: absolute;
  top: 30%;
}

.header_logo img {
  display: block;
  position: absolute;
  left: 61%;
  width: calc( ( 100 / 750 ) * 230 * 1vw);
  background: transparent;
}

.blue {
  display: none;
}

/* pc nav */
.header_inner_list {
  display: none;
}

.header__nav-area li {
  display: none;
}

/* SPナビ */
.sp-nav {
  display: block
}

.humberger {
  position: absolute;
  z-index: 1001;
  top: 17%;
  right: -40%;
  display: block;
  width: calc( ( 100 / 750 ) * 100 * 1vw);
  height: calc( ( 100 / 750 ) * 117 * 1vw);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  outline: 0;
  background-color: transparent;
}

.humberger.-active .humberger__line {
  background-color: transparent;
}

.humberger.-active .humberger__line::before {
  top: 0;
  transform: rotate(45deg);
}

.humberger.-active .humberger__line::after {
  top: 0;
  transform: rotate(-45deg);
}

.humberger.-active .humberger__text::before {
  content: '閉じる';
}

.humberger__line {
  display: block;
  height: calc( ( 100 / 750 ) * 4 * 1vw);
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translateX(-50%);
  width: calc((100 / 750) * 88 * 1vw);
  background-color: #452F21;
  transition: 0.4s;
}

.humberger__line:before,
.humberger__line:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #452F21;
  transition: inherit;
}

.humberger__line:before {
  top: calc( ( 100 / 750 ) * 18 * -1vw);
}

.humberger__line:after {
  top: calc( ( 100 / 750 ) * 18 * 1vw);
}


/* mv
--------------------------------------- */
.mainVisual {
  display: block;
  /* width: auto; */
}

.mainVisual .inner{
  position: relative;
}

.wrapper .mainVisual #mv_back {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/header_mv/about_mv.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 20% center;
}

.mv_wrapper {
  display: block;
  z-index: 1;
  position: absolute;
  top: 54%;
  transform: translateX(20%);
  /* padding: 0 120px; */
  margin: 0 auto;
}

.mv_wrapper_left {
  display: block;
  width: auto;
}

.mv_wrapper_left .name {
  display: block;
  color: #F9F5F1;
  font-family: Gelasio;
  font-size: calc( ( 100 / 750 ) * 60 * 1vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mv_wrapper_left h3 {
  display: block;
  color: #F9F5F1;
  font-family: Zen Maru Gothic;
  font-size: calc( ( 100 / 750 ) * 36 * 1vw);
}

.name_bottom_un {
  display: block;
  color: #323232;
  font-family: Gelasio;
  font-size: calc( ( 100 / 750 ) * 26 * 1vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: calc( ( 100 / 750 ) * 100 * 1vw);
}

.name_bottom_un span {
  display: block;
  color: #F9F5F1;
  font-family: Gelasio;
  font-size: calc( ( 100 / 750 ) * 26 * 1vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.name_bottom {
  display: none;
}

.name_bottom_r {
  display: block;
  position: absolute;
  right: 43px;
  bottom: 115px;
}

.name_bottom_r h2 {
  display: block;
  color: #F9F5F1;
  text-align: right;
  font-family: Gelasio;
  font-size: calc( ( 100 / 750 ) * 40 * 1vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


#container {
  display: none;
}

/* myself
--------------------------------------- */
#about-area {
  width: 100%;
}

.about-content {
  display: block;
  margin-top: 30px;
  width: auto;
  background: #f3faf291;
  padding-top: 150px;
  padding-bottom: 30px;
}

#about-area .inner {
  height: inherit;
  padding: 0 120px;
}

.about-content h2 {
  text-align: left;
  color: #323232;
  font-family: Gelasio;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-content h2::after {
  content: "自己紹介";
  color: #9f9e9e;
  font-family: Zen Maru Gothic;
  font-size: 24px;
  font-weight: normal;
  padding-left: 30px;
}

.about-content p {
  color: #323232;
  font-family: Zen Maru Gothic;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  padding-top: 70px;
  letter-spacing: 2.5px;
}

/* career
--------------------------------------- */
#career-area {
  width: 100%;
}

.career-content {
  display: block;
  width: auto;
  background: #f3faf291;
  padding-top: 150px;
  padding-bottom: 30px;
}

#career-area .inner {
  height: inherit;
}

.career-content-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 120px 0;
}

.career-content h2 {
  text-align: center;
  color: #323232;
  font-family: Gelasio;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.career-content h2::after {
  content: "職歴";
  color: #9f9e9e;
  font-family: Zen Maru Gothic;
  font-size: 24px;
  font-weight: normal;
  padding-left: 30px;
}

.career-content_left {
  display: block;
  width: 447px;
  height: 550px;
  background: url("../images/career_works/career_road.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.career-content_right ul>li {
  display: flex;
  gap: 50px;
  margin-bottom: 70px;
}

.career-content_right ul>li:last-child {
  display: flex;
  gap: 50px;
  margin-bottom: 0;
}

.career-content_right .wrapper_left {
  color: #323232;
  text-align: center;
  font-family: Gelasio;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.career-content_right .wrapper_right {
  color: #323232;
  font-family: Zen Maru Gothic;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}


/* skill
--------------------------------------- */
#skill-area {
  width: auto;
}

.skill-content {
  margin-top: 150px;
  width: 100%;
}

.skill-content h2 {
  text-align: center;
  color: #323232;
  font-family: Gelasio;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.skill-content h2::after {
  content: "スキル一覧";
  color: #9f9e9e;
  font-family: Zen Maru Gothic;
  font-size: 24px;
  font-weight: normal;
  padding-left: 30px;
}

.skill-content-main {
  width: 100%;
  display: flex;
  gap: 40px;
  padding: 70px 120px 0;
}

.skill-content_left,
.skill-content_right {
  width: 50%;
}

.skill-cnt {
  width: auto;
  display: flex;
  padding-bottom: 70px;
  gap: 30px;
}

.skill-cnt:last-child {
  width: auto;
  display: flex;
  padding-bottom: 0;
  gap: 30px;
}

.skill-cnt img {
  width: 100px;
  height: auto;
}

.skill-content-wrapper h3 {
  padding: 10px 0 20px 0;
}


.skill-content-wrapper h3,
.skill-content-wrapper .level {
  color: #323232;
  font-family: Gelasio;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.skill-content-wrapper .txt {
  height: 90px;
  color: #323232;
  font-family: Zen Maru Gothic;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  padding-bottom: 20px;
}


/* footer
--------------------------------------- */
#footer {
  width: auto;
  height: 300px;
  margin-top: 180px;
}

.footer-area {
  height: 300px;
  background: #D9D9D9;
}

.f-inner {
  width: 100%;
  background: #D9D9D9;
  padding: 100px 120px;
}

.fNavi nav>ul {
  display: flex;
  justify-content: center;
  gap: 80px;
}


.fNavi-item a {
  color: #323232;
  text-align: center;
  font-family: Gelasio;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 80px;
}

.fNavi-item a:last-child {
  padding-right: 0;
}


.copy {
  display: block;
  color: #323232;
  text-align: center;
  font-family: Gelasio;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}


/* hover op */
.hover-op,
.hover-ops {
  position: relative;
}

.hover-op:hover,
.hover-ops:hover {
  color: #9f9e9e
}

.hover-op::after {
  content: '';
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background:#323232;
  transition: all .5s;
  transform: scale(0, 1);
  transform-origin: left top;
}

.hover-op:hover::after,
.hover-ops:hover::after {
  transform: scale(1, 1);
}

